@import "./Variables.scss";

.StatisticsContainer {
    flex: 1;
    position: relative;
}

.StatisticsContainer .StatisticList {
    display: flex;
    list-style-type: none;
    font-family: circe;

    .StatisticItem {
        position: relative;
        padding-right: 16px;
        display: flex;
        font-weight: 400;
        align-items: center;

        >p {
            font-weight: 700;
            margin: 0;
            color: $mainTheme;
            white-space: pre;
        }
    }

    .ChipItem {
        border-radius: 4px;
        padding: 4px 12px;
        background: $grey-1;
        margin-right: 16px;
    }
}

.StatisticCard {
    position: absolute;
    bottom: 126%;
    right: 37.2%;

    .StatisticTitle {
        margin: 0;
        margin-left: 16px;
        font-size: 16px;
        font-weight: 700;
        padding: 5px 0px;
    }
}

.StatisticCard .MuiTableContainer-root {
    padding: 16px;
    filter: drop-shadow(0px 4px 12px rgba(130, 140, 160, 0.5));
    box-shadow: none;

    .MuiTableHead-root {
        position: relative;

        .button.IconButton {
            position: absolute;
            top: 14px;
            right: 0;
        }

        .MuiTableCell-root {
            padding: 10px 0px;
            border-bottom: none;
        }
    }
}

.StatisticPaymentCard {
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $white;
        position: absolute;
        right: -27px;
        bottom: -9px;
    }
}

.StatisticChannelCard {
    bottom: 126%;
    right: -174%;

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $white;
        position: absolute;
        right: 337px;
        bottom: -9px;
    }
}

.thContainer {
    display: flex;

    >p {
        padding-left: 4px;
        margin: 0;
    }
}